<h1>New Application</h1>

<%= form_with url: "/pets/application", method: :post, local:true do |form| %>
<h4>Which dogs are you applying for? </h4>
<h4><%= form.label :desired_dogs  %></h4>
  <p><%= form.collection_check_boxes :desired_dogs, @dogs, :id, :name  %></p>
<h4><%= form.label :name %> </h4>
  <p><%= form.text_field :name %></p>
<h4><%= form.label :street_address %> </h4>
  <p><%= form.text_field :street_address %></p>
  <h4><%= form.label :city %> </h4>
    <p><%= form.text_field :city %></p>
  <h4><%= form.label :state %> </h4>
    <p><%= form.text_field :state %></p>
  <h4><%= form.label :zipcode %></h4>
    <p><%= form.number_field :zipcode %></p>
  <h4>Why would you make a good home? <%= form.label :description %></h4>
    <p><%= form.text_field :description %></p>

  <%= form.submit 'Submit Application' %>
<% end %>
