<h1>Application Page</h1>
<h3>Application Status: <%= @application.application_status%></h3>
<ul>
  <li>Name: <%=@application.name %></li>
  <li>Street address: <%=@application.street_address %></li>
  <li>City: <%=@application.city %></li>
  <li>State: <%=@application.state %></li>
  <li>Zipcode: <%=@application.zipcode %></li>
  <li>Description: <%=@application.description %></li>
</ul>
