<h1><%= @petapplication.application.name%>'s Application Status for <%= @petapplication.pet.name%>
</h1>
<h2>Status: <%= @petapplication.application.application_status%></h2>

<h4>Desired Dog:</h3>
  <ul>
    <li> Name: <%= @petapplication.pet.name%> </li>
    <li> Breed: <%=@petapplication.pet.breed%> </li>
    <li> Currently Adoptable? <%=@petapplication.pet.adoptable ? 'Yes': 'No' %> </li>
  </ul>

<h4>Application Information</h4>
<ul>
  <li>Name: <%=@petapplication.application.name %></li>
  <li>Street address: <%=@petapplication.application.street_address %></li>
  <li>City: <%=@petapplication.application.city %></li>
  <li>State: <%=@petapplication.application.state %></li>
  <li>Zipcode: <%=@petapplication.application.zipcode %></li>
  <li>Why applicant is a good fit: <%=@petapplication.application.description %></li>
</ul>
