<h1><%=@shelter.name%>
  Admin Page</h1>

<div class="shelter_statistics">
  <h2>Shelter Statistics</h2>
  <ul>
    <li>Average Age of Adoptable Pets:
      <%=@shelter.average_adoptable_age%>
      years old
    </li>
    <li>Number of Adoptable Pets:
      <%=@shelter.adoptable_pet_count%>
      Pets
    </li>
    <li>Number of Adopted Pets:
      <%=@shelter.count_of_adopted_pets%>
      Pets
    </li>
  </ul>
</div>

<div class="action_required">
  <h2>Action Required</h2>
  <%@require_action.each do |application, pets|  %>
    <h4>
      <%=application.name%></h4>
    <% pets.each do |pet| %>
      <div id="pet-<%="#{pet.id}"%>">
        <ul>
          <a href="/admin/applications/<%=application.id%>">
            <li><%= pet.name%></li>
          </a>
        </ul>
      <%end %>
    </div>
  <%end%>
</div>
