<ul>
  <li>Name:
    <%=application.name %></li>
  <li>Street address:
    <%=application.street_address %></li>
  <li>City:
    <%=application.city %></li>
  <li>State:
    <%=application.state %></li>
  <li>Zipcode:
    <%=application.zipcode %></li>
</ul>
